<div>
  <div>    
    <label class="labels">Input 1:
      <input [(ngModel)]="numberOne">
    </label>
  </div>
  <div>
    <label class="labels">Input 2:
      <input [(ngModel)]="numberTwo">
    </label>
  </div>
  <div>
    First Number {{numberOne}} + Second Number {{numberTwo}} = Sum: {{numberOne + numberTwo}}
  </div>
  <div>
    First Number {{numberOne}} - Second Number {{numberTwo}} = Differnce: {{numberOne - numberTwo}}
  </div>
  <div>
    First Number {{numberOne}} x Second Number {{numberTwo}} = Product: {{numberOne * numberTwo}}
  </div>
  <div>
    First Number {{numberOne}} / Second Number {{numberTwo}} = Quotient: {{numberOne / numberTwo}}
  </div>
</div>